extends ./layout/index

block contenido 
    main.container.mt-5     
        .row    
            .col-md-5 

                img(src="img/nosotros.jpg", alt="imagen sobre nosotros" , class="img-fluid")

            .col-md-7
                 h1 #{pagina} 

                 blockquote  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque id volutpat magna. Nulla sit amet mollis dui, eget laoreet nisl. Fusce vulputate nibh nec elementum commodo. Integer malesuada lectus non augue dictum aliquam. Nullam eget dui eu lorem hendrerit sollicitudin eget vestibulum sapien. In euismod euismod enim eget hendrerit. Integer ante lacus, tincidunt id sem consequat, semper tincidunt quam. Sed mi purus, porta ut euismod ultricies, iaculis a ligula. Fusce varius feugiat leo ac sodales. Pellentesque lacus orci, vestibulum eu posuere vestibulum, vulputate ut tellus. 

                 p Aliquam tortor lectus, varius in eros vel, euismod vehicula ligula. Vestibulum ac dictum nisi. Donec ultricies eros at ante feugiat sollicitudin. Vivamus efficitur sapien mi, in elementum lacus elementum ac. Phasellus non velit eget neque tincidunt bibendum. Sed semper nibh vel tellus luctus, sit amet dapibus enim auctor. Fusce vitae est vulputate diam eleifend sodales quis nec eros. Phasellus in neque sit amet nisi dictum ullamcorper. Suspendisse pulvinar nunc non purus gravida auctor. Sed non orci malesuada, vestibulum erat in, consequat nisl. 



    .listado-iconos 
        .container.mt-5.py.text-center 
            .row 
                .col-md-4 
                    img(src="img/icono_seguridad.svg", alt="icono seguridad", class= "img-fluid mb-4 text-justify")
                    h2.mb-4 Seguridad 
                    p Vestibulum in diam tincidunt, eleifend ante ut, porttitor tortor. Nunc consectetur turpis eu dui eleifend egestas. Sed luctus tincidunt mauris faucibus ultricies. 
                    
                .col-md-4 
                    img(src="img/icono_destinos.svg", alt="icono destinos", class= "img-fluid mb-4")
                    h2.mb-4 Mejores Destinos
                    p Vestibulum in diam tincidunt, eleifend ante ut, porttitor tortor. Nunc consectetur turpis eu dui eleifend egestas. Sed luctus tincidunt mauris faucibus ultricies. 
                    
   
                .col-md-4 
                    img(src="img/icono_precio.svg", alt="icono precio", class= "img-fluid mb-4")
                    h2.mb-4 Los mejores precios
                    p Vestibulum in diam tincidunt, eleifend ante ut, porttitor tortor. Nunc consectetur turpis eu dui eleifend egestas. Sed luctus tincidunt mauris faucibus ultricies. 
                    


